--
-- PostgreSQL database dump
--

\restrict nY3gPyDGa7iOcdRfVUOb2bbxHXBTLt49VbwJc8UVOUZ4LNtRMbxCxJSBrQkSrIz

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendance; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.attendance (
    attendance_id integer NOT NULL,
    intern_id integer,
    attendance_date date NOT NULL,
    checkin_time time without time zone,
    checkout_time time without time zone,
    status character varying(20)
);


ALTER TABLE public.attendance OWNER TO postgres;

--
-- Name: attendance_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.attendance_attendance_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.attendance_attendance_id_seq OWNER TO postgres;

--
-- Name: attendance_attendance_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.attendance_attendance_id_seq OWNED BY public.attendance.attendance_id;


--
-- Name: certificate; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.certificate (
    certificate_id integer NOT NULL,
    intern_id integer,
    certificate_no character varying(50),
    issue_date date,
    certificate_url text
);


ALTER TABLE public.certificate OWNER TO postgres;

--
-- Name: certificate_certificate_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.certificate_certificate_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.certificate_certificate_id_seq OWNER TO postgres;

--
-- Name: certificate_certificate_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.certificate_certificate_id_seq OWNED BY public.certificate.certificate_id;


--
-- Name: intern; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.intern (
    intern_id integer NOT NULL,
    intern_name character varying(100) NOT NULL,
    email character varying(100),
    mobile character varying(15),
    college character varying(150),
    department character varying(100),
    join_date date,
    end_date date,
    status character varying(20) DEFAULT 'Active'::character varying,
    login_id integer
);


ALTER TABLE public.intern OWNER TO postgres;

--
-- Name: intern_intern_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.intern_intern_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.intern_intern_id_seq OWNER TO postgres;

--
-- Name: intern_intern_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.intern_intern_id_seq OWNED BY public.intern.intern_id;


--
-- Name: internship_domain; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.internship_domain (
    domain_id integer NOT NULL,
    domain_name character varying(100) NOT NULL,
    duration_months integer,
    description text
);


ALTER TABLE public.internship_domain OWNER TO postgres;

--
-- Name: internship_domain_domain_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.internship_domain_domain_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.internship_domain_domain_id_seq OWNER TO postgres;

--
-- Name: internship_domain_domain_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.internship_domain_domain_id_seq OWNED BY public.internship_domain.domain_id;


--
-- Name: internship_enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.internship_enrollment (
    enrollment_id integer NOT NULL,
    intern_id integer,
    domain_id integer,
    start_date date,
    completion_percentage integer DEFAULT 0,
    status character varying(20) DEFAULT 'Active'::character varying
);


ALTER TABLE public.internship_enrollment OWNER TO postgres;

--
-- Name: internship_enrollment_enrollment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.internship_enrollment_enrollment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.internship_enrollment_enrollment_id_seq OWNER TO postgres;

--
-- Name: internship_enrollment_enrollment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.internship_enrollment_enrollment_id_seq OWNED BY public.internship_enrollment.enrollment_id;


--
-- Name: login; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login (
    login_id integer NOT NULL,
    username character varying(50) NOT NULL,
    password character varying(100) NOT NULL,
    role character varying(20) DEFAULT 'student'::character varying
);


ALTER TABLE public.login OWNER TO postgres;

--
-- Name: login_login_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.login_login_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.login_login_id_seq OWNER TO postgres;

--
-- Name: login_login_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.login_login_id_seq OWNED BY public.login.login_id;


--
-- Name: mentor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mentor (
    mentor_id integer NOT NULL,
    mentor_name character varying(100),
    email character varying(100),
    mobile character varying(15)
);


ALTER TABLE public.mentor OWNER TO postgres;

--
-- Name: mentor_mentor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mentor_mentor_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mentor_mentor_id_seq OWNER TO postgres;

--
-- Name: mentor_mentor_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mentor_mentor_id_seq OWNED BY public.mentor.mentor_id;


--
-- Name: placement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.placement (
    placement_id integer NOT NULL,
    intern_id integer,
    company_name character varying(150),
    package_lpa numeric(5,2),
    placement_date date
);


ALTER TABLE public.placement OWNER TO postgres;

--
-- Name: placement_placement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.placement_placement_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.placement_placement_id_seq OWNER TO postgres;

--
-- Name: placement_placement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.placement_placement_id_seq OWNED BY public.placement.placement_id;


--
-- Name: project; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project (
    project_id integer NOT NULL,
    project_name character varying(200),
    description text,
    start_date date,
    end_date date,
    status character varying(20)
);


ALTER TABLE public.project OWNER TO postgres;

--
-- Name: project_assignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.project_assignment (
    assignment_id integer NOT NULL,
    project_id integer,
    intern_id integer,
    assigned_date date DEFAULT CURRENT_DATE
);


ALTER TABLE public.project_assignment OWNER TO postgres;

--
-- Name: project_assignment_assignment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_assignment_assignment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_assignment_assignment_id_seq OWNER TO postgres;

--
-- Name: project_assignment_assignment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_assignment_assignment_id_seq OWNED BY public.project_assignment.assignment_id;


--
-- Name: project_project_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.project_project_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.project_project_id_seq OWNER TO postgres;

--
-- Name: project_project_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.project_project_id_seq OWNED BY public.project.project_id;


--
-- Name: report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.report (
    report_id integer NOT NULL,
    report_name character varying(100) NOT NULL,
    report_category character varying(50),
    generated_date date,
    status character varying(20),
    download_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.report OWNER TO postgres;

--
-- Name: report_report_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.report_report_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.report_report_id_seq OWNER TO postgres;

--
-- Name: report_report_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.report_report_id_seq OWNED BY public.report.report_id;


--
-- Name: task_submission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.task_submission (
    task_id integer NOT NULL,
    intern_id integer,
    task_title character varying(200),
    task_description text,
    submission_date date,
    status character varying(30)
);


ALTER TABLE public.task_submission OWNER TO postgres;

--
-- Name: task_submission_task_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.task_submission_task_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.task_submission_task_id_seq OWNER TO postgres;

--
-- Name: task_submission_task_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.task_submission_task_id_seq OWNED BY public.task_submission.task_id;


--
-- Name: attendance attendance_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance ALTER COLUMN attendance_id SET DEFAULT nextval('public.attendance_attendance_id_seq'::regclass);


--
-- Name: certificate certificate_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificate ALTER COLUMN certificate_id SET DEFAULT nextval('public.certificate_certificate_id_seq'::regclass);


--
-- Name: intern intern_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.intern ALTER COLUMN intern_id SET DEFAULT nextval('public.intern_intern_id_seq'::regclass);


--
-- Name: internship_domain domain_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internship_domain ALTER COLUMN domain_id SET DEFAULT nextval('public.internship_domain_domain_id_seq'::regclass);


--
-- Name: internship_enrollment enrollment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internship_enrollment ALTER COLUMN enrollment_id SET DEFAULT nextval('public.internship_enrollment_enrollment_id_seq'::regclass);


--
-- Name: login login_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login ALTER COLUMN login_id SET DEFAULT nextval('public.login_login_id_seq'::regclass);


--
-- Name: mentor mentor_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentor ALTER COLUMN mentor_id SET DEFAULT nextval('public.mentor_mentor_id_seq'::regclass);


--
-- Name: placement placement_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.placement ALTER COLUMN placement_id SET DEFAULT nextval('public.placement_placement_id_seq'::regclass);


--
-- Name: project project_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project ALTER COLUMN project_id SET DEFAULT nextval('public.project_project_id_seq'::regclass);


--
-- Name: project_assignment assignment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_assignment ALTER COLUMN assignment_id SET DEFAULT nextval('public.project_assignment_assignment_id_seq'::regclass);


--
-- Name: report report_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.report ALTER COLUMN report_id SET DEFAULT nextval('public.report_report_id_seq'::regclass);


--
-- Name: task_submission task_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_submission ALTER COLUMN task_id SET DEFAULT nextval('public.task_submission_task_id_seq'::regclass);


--
-- Data for Name: attendance; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.attendance (attendance_id, intern_id, attendance_date, checkin_time, checkout_time, status) FROM stdin;
\.


--
-- Data for Name: certificate; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.certificate (certificate_id, intern_id, certificate_no, issue_date, certificate_url) FROM stdin;
1	1	ARI2026001	2026-06-25	\N
2	2	ARI2026002	2026-06-25	\N
\.


--
-- Data for Name: intern; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.intern (intern_id, intern_name, email, mobile, college, department, join_date, end_date, status, login_id) FROM stdin;
1	Raj Kumar	raj@gmail.com	9876543210	ABC Engineering College	CSE	2026-06-25	2026-09-25	Active	\N
2	Priya Sharma	priya@gmail.com	9876543211	XYZ Engineering College	IT	2026-06-20	2026-09-20	Active	\N
\.


--
-- Data for Name: internship_domain; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.internship_domain (domain_id, domain_name, duration_months, description) FROM stdin;
1	Full Stack Development	6	React, Node.js and PostgreSQL
2	Mobile App Development	6	Kotlin Android Development
3	AI & Machine Learning	6	Python, ML and Deep Learning
4	Cloud & DevOps	4	AWS, Docker and CI/CD
5	Data Science	5	Python and Data Analytics
6	Cyber Security	4	Network and Security Fundamentals
\.


--
-- Data for Name: internship_enrollment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.internship_enrollment (enrollment_id, intern_id, domain_id, start_date, completion_percentage, status) FROM stdin;
\.


--
-- Data for Name: login; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.login (login_id, username, password, role) FROM stdin;
\.


--
-- Data for Name: mentor; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mentor (mentor_id, mentor_name, email, mobile) FROM stdin;
\.


--
-- Data for Name: placement; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.placement (placement_id, intern_id, company_name, package_lpa, placement_date) FROM stdin;
1	1	Infosys	4.50	2026-06-25
2	2	TCS	5.20	2026-06-25
\.


--
-- Data for Name: project; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project (project_id, project_name, description, start_date, end_date, status) FROM stdin;
1	Student Management System	React Node PostgreSQL Project	2026-06-01	2026-08-01	In Progress
2	Internship Portal	Full Internship Tracking System	2026-06-15	2026-09-15	Completed
3	AR Infotek Mobile App	Android Kotlin Application	2026-07-01	2026-10-01	Planned
\.


--
-- Data for Name: project_assignment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.project_assignment (assignment_id, project_id, intern_id, assigned_date) FROM stdin;
\.


--
-- Data for Name: report; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.report (report_id, report_name, report_category, generated_date, status, download_count, created_at) FROM stdin;
1	Student Report	Student	2026-06-25	Completed	120	2026-06-25 10:58:49.585561
2	Revenue Report	Finance	2026-06-25	Pending	85	2026-06-25 10:58:49.585561
3	Placement Report	Placement	2026-06-25	Completed	90	2026-06-25 10:58:49.585561
\.


--
-- Data for Name: task_submission; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.task_submission (task_id, intern_id, task_title, task_description, submission_date, status) FROM stdin;
\.


--
-- Name: attendance_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.attendance_attendance_id_seq', 1, false);


--
-- Name: certificate_certificate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.certificate_certificate_id_seq', 2, true);


--
-- Name: intern_intern_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.intern_intern_id_seq', 2, true);


--
-- Name: internship_domain_domain_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.internship_domain_domain_id_seq', 6, true);


--
-- Name: internship_enrollment_enrollment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.internship_enrollment_enrollment_id_seq', 1, false);


--
-- Name: login_login_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.login_login_id_seq', 1, false);


--
-- Name: mentor_mentor_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mentor_mentor_id_seq', 1, false);


--
-- Name: placement_placement_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.placement_placement_id_seq', 2, true);


--
-- Name: project_assignment_assignment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_assignment_assignment_id_seq', 1, false);


--
-- Name: project_project_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.project_project_id_seq', 3, true);


--
-- Name: report_report_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.report_report_id_seq', 3, true);


--
-- Name: task_submission_task_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.task_submission_task_id_seq', 1, false);


--
-- Name: attendance attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_pkey PRIMARY KEY (attendance_id);


--
-- Name: certificate certificate_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificate
    ADD CONSTRAINT certificate_pkey PRIMARY KEY (certificate_id);


--
-- Name: intern intern_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.intern
    ADD CONSTRAINT intern_pkey PRIMARY KEY (intern_id);


--
-- Name: internship_domain internship_domain_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internship_domain
    ADD CONSTRAINT internship_domain_pkey PRIMARY KEY (domain_id);


--
-- Name: internship_enrollment internship_enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internship_enrollment
    ADD CONSTRAINT internship_enrollment_pkey PRIMARY KEY (enrollment_id);


--
-- Name: login login_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login
    ADD CONSTRAINT login_pkey PRIMARY KEY (login_id);


--
-- Name: login login_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login
    ADD CONSTRAINT login_username_key UNIQUE (username);


--
-- Name: mentor mentor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mentor
    ADD CONSTRAINT mentor_pkey PRIMARY KEY (mentor_id);


--
-- Name: placement placement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.placement
    ADD CONSTRAINT placement_pkey PRIMARY KEY (placement_id);


--
-- Name: project_assignment project_assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_assignment
    ADD CONSTRAINT project_assignment_pkey PRIMARY KEY (assignment_id);


--
-- Name: project project_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_pkey PRIMARY KEY (project_id);


--
-- Name: report report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.report
    ADD CONSTRAINT report_pkey PRIMARY KEY (report_id);


--
-- Name: task_submission task_submission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_submission
    ADD CONSTRAINT task_submission_pkey PRIMARY KEY (task_id);


--
-- Name: attendance attendance_intern_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.attendance
    ADD CONSTRAINT attendance_intern_id_fkey FOREIGN KEY (intern_id) REFERENCES public.intern(intern_id);


--
-- Name: certificate certificate_intern_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.certificate
    ADD CONSTRAINT certificate_intern_id_fkey FOREIGN KEY (intern_id) REFERENCES public.intern(intern_id);


--
-- Name: intern intern_login_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.intern
    ADD CONSTRAINT intern_login_id_fkey FOREIGN KEY (login_id) REFERENCES public.login(login_id);


--
-- Name: internship_enrollment internship_enrollment_domain_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internship_enrollment
    ADD CONSTRAINT internship_enrollment_domain_id_fkey FOREIGN KEY (domain_id) REFERENCES public.internship_domain(domain_id);


--
-- Name: internship_enrollment internship_enrollment_intern_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.internship_enrollment
    ADD CONSTRAINT internship_enrollment_intern_id_fkey FOREIGN KEY (intern_id) REFERENCES public.intern(intern_id);


--
-- Name: placement placement_intern_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.placement
    ADD CONSTRAINT placement_intern_id_fkey FOREIGN KEY (intern_id) REFERENCES public.intern(intern_id);


--
-- Name: project_assignment project_assignment_intern_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_assignment
    ADD CONSTRAINT project_assignment_intern_id_fkey FOREIGN KEY (intern_id) REFERENCES public.intern(intern_id);


--
-- Name: project_assignment project_assignment_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.project_assignment
    ADD CONSTRAINT project_assignment_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.project(project_id);


--
-- Name: task_submission task_submission_intern_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.task_submission
    ADD CONSTRAINT task_submission_intern_id_fkey FOREIGN KEY (intern_id) REFERENCES public.intern(intern_id);


--
-- PostgreSQL database dump complete
--

\unrestrict nY3gPyDGa7iOcdRfVUOb2bbxHXBTLt49VbwJc8UVOUZ4LNtRMbxCxJSBrQkSrIz

